	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/11/2017 08:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
	font-size: inherit;
  text-rendering: auto;
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: inherit;
font-style: normal;
}

.flaticon-lg{
	font-size: 2.1em;
}

.flaticon-001-up-arrow-11:before { content: "\f100"; }
.flaticon-002-up-arrow-10:before { content: "\f101"; }
.flaticon-003-up-arrow-9:before { content: "\f102"; }
.flaticon-004-up-arrow-8:before { content: "\f103"; }
.flaticon-005-up-arrow-7:before { content: "\f104"; }
.flaticon-006-up-arrow-6:before { content: "\f105"; }
.flaticon-007-up-arrow-5:before { content: "\f106"; }
.flaticon-008-up-arrow-4:before { content: "\f107"; }
.flaticon-009-up-arrow-3:before { content: "\f108"; }
.flaticon-010-up-arrow-2:before { content: "\f109"; }
.flaticon-011-up-arrow-1:before { content: "\f10a"; }
.flaticon-012-up-arrow:before { content: "\f10b"; }
.flaticon-013-diagonal-arrow-15:before { content: "\f10c"; }
.flaticon-014-diagonal-arrow-14:before { content: "\f10d"; }
.flaticon-015-diagonal-arrow-13:before { content: "\f10e"; }
.flaticon-016-diagonal-arrow-12:before { content: "\f10f"; }
.flaticon-017-diagonal-arrow-11:before { content: "\f110"; }
.flaticon-018-diagonal-arrow-10:before { content: "\f111"; }
.flaticon-019-diagonal-arrow-9:before { content: "\f112"; }
.flaticon-020-diagonal-arrow-8:before { content: "\f113"; }
.flaticon-021-diagonal-arrow-7:before { content: "\f114"; }
.flaticon-022-diagonal-arrow-6:before { content: "\f115"; }
.flaticon-023-diagonal-arrow-5:before { content: "\f116"; }
.flaticon-024-diagonal-arrow-4:before { content: "\f117"; }
.flaticon-025-diagonal-arrow-3:before { content: "\f118"; }
.flaticon-026-diagonal-arrow-2:before { content: "\f119"; }
.flaticon-027-right-arrow-14:before { content: "\f11a"; }
.flaticon-028-right-arrow-13:before { content: "\f11b"; }
.flaticon-029-right-arrow-12:before { content: "\f11c"; }
.flaticon-030-right-arrow-11:before { content: "\f11d"; }
.flaticon-031-right-arrow-10:before { content: "\f11e"; }
.flaticon-032-right-arrow-9:before { content: "\f11f"; }
.flaticon-033-right-arrow-8:before { content: "\f120"; }
.flaticon-034-right-arrow-7:before { content: "\f121"; }
.flaticon-035-right-arrow-6:before { content: "\f122"; }
.flaticon-036-right-arrow-5:before { content: "\f123"; }
.flaticon-037-right-arrow-4:before { content: "\f124"; }
.flaticon-038-right-arrow-3:before { content: "\f125"; }
.flaticon-039-right-arrow-2:before { content: "\f126"; }
.flaticon-040-right-arrow-1:before { content: "\f127"; }
.flaticon-041-diagonal-arrow-1:before { content: "\f128"; }
.flaticon-042-diagonal-arrow:before { content: "\f129"; }
.flaticon-043-left-arrow-14:before { content: "\f12a"; }
.flaticon-044-left-arrow-13:before { content: "\f12b"; }
.flaticon-045-left-arrow-12:before { content: "\f12c"; }
.flaticon-046-left-arrow-11:before { content: "\f12d"; }
.flaticon-047-left-arrow-10:before { content: "\f12e"; }
.flaticon-048-left-arrow-9:before { content: "\f12f"; }
.flaticon-049-left-arrow-8:before { content: "\f130"; }
.flaticon-050-left-arrow-7:before { content: "\f131"; }
.flaticon-051-left-arrow-6:before { content: "\f132"; }
.flaticon-052-left-arrow-5:before { content: "\f133"; }
.flaticon-053-left-arrow-4:before { content: "\f134"; }
.flaticon-054-left-arrow-3:before { content: "\f135"; }
.flaticon-055-left-arrow-2:before { content: "\f136"; }
.flaticon-056-left-arrow-1:before { content: "\f137"; }
.flaticon-057-right-arrow:before { content: "\f138"; }
.flaticon-058-left-arrow:before { content: "\f139"; }
.flaticon-059-down-arrow-11:before { content: "\f13a"; }
.flaticon-060-down-arrow-10:before { content: "\f13b"; }
.flaticon-061-down-arrow-9:before { content: "\f13c"; }
.flaticon-062-down-arrow-8:before { content: "\f13d"; }
.flaticon-063-down-arrow-7:before { content: "\f13e"; }
.flaticon-064-down-arrow-6:before { content: "\f13f"; }
.flaticon-065-down-arrow-5:before { content: "\f140"; }
.flaticon-066-down-arrow-4:before { content: "\f141"; }
.flaticon-067-down-arrow-3:before { content: "\f142"; }
.flaticon-068-down-arrow-2:before { content: "\f143"; }
.flaticon-069-down-arrow-1:before { content: "\f144"; }
.flaticon-070-down-arrow:before { content: "\f145"; }