<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<img src="./assets/logo_autozahler_.png">
</head>
<script type="text/javascript" src="stathistics.js"></script>
<body>
	<div>
		<img src="">
	</div>
	<div>
		<h1>Resultado da analise</h1>
	</div>
	<div>
		<h1></h1>
		<div id="info_do_arq">
			shrug
		</div>
		<div id="traf_de_veiculos">
			shrug
		</div>
		<div id="cont_de_veiculos">
			shrug
		</div>
		<div id="linha_do_tempo">
			shrug
		</div>
	</div>
</body>
<style type="text/css" src="stathistics.css"></style>
</html>

