<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Autozähler | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css"/>
</head>
<body>
	<div class="background-striped">
		<div class="row">
			<div class="col-md-5 upload-content">
					<img src="../static/assets/logo_autozahler_index.png">
					<!-- <img src="../static/assets/upIcon.png" width="250px""> -->
					<form method=post enctype=multipart/form-data>
						<div style="text-align: center">
							<input type="image" name="submit" src="../static/assets/upIcon.png" width="250px">
							<input class="inputfile" type=file id="file" name=file>
							<label for="file">Selecionar um vídeo...</label>
							<label class="label-status-upload">Progresso de upload</label>
						</div>	
					</form>
			</div>
			<div class="col-md-7 sidebar-blue polygon-sidebar nopadr"> 
					<div class="left-shape"></div>
					<h1 class="sidebar-title">Projeto</h1>
					<div class="explain" id="exp1">
						<p class="explain_text" id="">
							Este projeto tem como finalidade realizar a contagem de veículos (de passeio, grandes e motos) em determinado vídeo. Os vídeos utilizados devem filmar a rodovia de um ângulo lateral.
						</p>
					</div>
					<div class="explain" id="exp2">
						<p class="explain_text" id="">
							Todo o projeto foi gerenciado e desenvolvido por alunos da Universidade Federal do Ceará como projeto final do curso de "TI0147 - FUNDAMENTOS DE PROCESSAMENTO DIGITAL DE IMAGENS" em 2018.2.
						</p>
					</div>
					<div class="explain" id="exp3">
						<p class="explain_text" id="">
							A aplicação foi desenvolvida utilizando Python, a biblioteca OpenCV, o microframework Flask, HTML, CSS e JavaScript.
						</p>
					</div>
					<div id="footer">Universidade Federal do Ceará - Departamento de Engenharia de Teleinformática</div>
			</div>
		</div>
	</div>
	
	<div class=coluna>
		<div class=equipe id=interface>
			<div class=team-title>
				<h4>Equipe de Interface</h4>
			</div>
			<div class=lideres>
				Líderes: Marcus Vinícius L. M. de Andrade e Luís Filipe Velasco da Silva
			</div>
			<div class=crew>
				<ul>
					<li> José Marcílio</li>
					<li> Lucas Ferreira</li>
					<li> Erick Bastos</li>
					<li> Thiago Beppe</li>
					<li> Matheus Bastos</li>
				</ul>
			</div>
		</div>

		<div class=equipe id=contagem>
			<div class=team-title>
				<h4>Equipe de Contagem</h4>
			</div>
			<div class=lideres>
				Líder: Rômulo Freire Férrer Filho 
			</div>
			<div class=crew>
				<ul>
					<li> Jorge Luiz Costa Reis</li>
					<li> Caio Costa do Amaral</li>
					<li> Marcus Jeovanni Freitas Machado</li>
					<li> Madson Ivens Holanda Batista</li>
					<li> Caio Rodrigo de Almeida Vieira</li>
					<li> Eduardo Bezerra de Lima</li>
					<li> Pablo Roberto Grisi</li>
					<li> Felype de Castro Bastos</li>
				</ul>
			</div>
		</div>

	</div>
	
	<div class=coluna>
		<div class=equipe id=pre-processing>
			<div class=team-title>
				<h4>Equipe de Pré-Processamento</h4>
			</div>
			<div class=preproc>
				Líder: Gabriel da Rocha Silva
			</div>
			<div class=crew>
				<ul>
					<li> Gabriel Alves das Neves</li>
					<li> Daniel Araújo Chaves Souza</li>
					<li> Lia Sucupira Furtado</li>
					<li> Alejandro Francisco Rubio Ney</li>
					<li> Francisco Rodrigo Alexandre Brasileiro</li>
					<li> Antônio Batista de Oliveira</li>
					<li> Manoel José de Lima Neto</li>
					<li> Guilherme Alves de Araújo</li>
				</ul>
			</div>
		</div>


		<div class=equipe id=teste>
			<div class=team-title>
				<h4>Equipe de Teste e Qualidade</h4>
			</div>
			<div class=preproc>
				Líder: Lucas Silva Camelo
			</div>
			<div class=crew>
				<ul>
					<li> Magno Felipe Tavora da Silva</li>
					<li> Leone de Oliveira Araujo Freire</li>
					<li> Marcel Rocha Fonteles Vieira</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>