<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<img src="./assets/logo_autozahler_index.png">
</head>
<script type="text/javascript" src="index.js"></script>
<body>
	<div>
		<img src="">
	</div>
	<div>
		<input id="upload_video" type="file" name="video">
	</div>
	<div>
		<h1>Projeto</h1>
		<div class="explain" id="exp1">
			<p class="explain_text" id=""> Este projeto tem como finalidade realizar a contagem de veículos (de passeio, grandes e motos) em determinado vídeo. Os vídeos utilizados devem filmar a rodovia de um ângulo lateral.
			</p>
		</div>
		<div class="explain" id="exp2">
			<p class="explain_text" id=""> Todo o projeto foi gerenciado e desenvolvido por alunos da Universidade Federal do Ceará como projeto final do curso de "TI0147 - FUNDAMENTOS DE PROCESSAMENTO DIGITAL DE IMAGENS" em 2018.2.
			</p>
		</div>
		<div class="explain" id="exp3">
			<p class="explain_text" id="">  A aplicação foi desenvolvida utilizando Python, a biblioteca OpenCV, o microframework Flask, HTML, CSS e JavaScript.
			</p>
		</div>
	</div>
</body>
<style type="text/css" src="index.css"></style>
</html>

